# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# ESLint configuration
.eslintrc.json

# Misc
.DS_Store
*.pem

# Local Env Files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Service Account Keys
# Ignore all json files in the functions directory that end with serviceAccountKey.json
functions/*serviceAccountKey.json
